body {
    background-color: white;
    font-family: 'Ubuntu', sans-serif;
    margin: auto;
}

.header {
    background-color: #1A1F71;
    padding: 10px;
}

.header1 {
    position: absolute;
    display: inline-block;
    left: 500px;
    top: 30px;
}

.yellow-border {
    background-color: #F7B600;
    height: 6px;
    width: fit-content;
}

.header-image {
    padding-left: 100px;
    width: 100%;
}

.search-box-image {
    background-color: #1A1F71;
    align-items: center;
    width: 100%;
}

.sign {
    padding-top: 40px;
    color: #1A1F71;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
}


form.form1 {
    padding-top: 40px;
}

.main {
    background-color: #ffffff;
    width: 400px;
    height: 400px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    position: absolute;
    display: inline-block;
    top: 100px;
    left: 950px
}

.un {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}

.pass {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}


.submit {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #9C27B0, #E040FB);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 35%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.sign {
    padding-top: 39px;
    color: #7C55AA;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

@media screen and (max-width: 800px) {
    body {
        background-color: white;
        font-family: 'Ubantu', sans-serif;
        margin: auto;
    }

    .header {
        background-color: #1A1F71;
    }

    .header1 {
        display: none;
    }

    .header-image {
        width: 100%;
    }

    .search-box-image {
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: bottom;
    }

    .main {
        background-color: #ffffff;
        width: 350px;
        height: 400px;
        margin: 7em auto;
        border-radius: 1.5em;
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
        position: relative;
        top: 0px;
        left: 30px;
    }
}